<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.careu">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Testprofile"></activity>
        <activity android:name=".emergencyNumbers" />
        <activity android:name=".feedback" />
        <activity android:name=".request_2" />
        <activity android:name=".request_1" />
        <activity android:name=".my_requests" />
        <activity android:name=".edit_prof" />
        <activity android:name=".my_profile" />
        <activity android:name=".ambulance" />
        <activity android:name=".forgetPassword" />
        <activity android:name=".policeEcomplain" />
        <activity android:name=".homePageDuplicate" />
        <activity android:name=".Testpage" />
        <activity android:name=".registrationPage" />
        <activity android:name=".homePage" />
        <activity android:name=".loginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>